In [ ]:
#firstly downloaded data from kaggle
#part 1
#part a

import pandas as pd

df = pd.read_csv("/content/AWCustomers.csv")
print(df.head())
print(df.shape)
print(df.info())

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
(18361, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None

In [ ]:
#since we know some typical columns like ID, names,email arent imp in database so we remove them
#we are selecting features just by analysis

df = df.drop(columns=["LastUpdated","CustomerID","Title","FirstName","MiddleName","LastName","Suffix","City","AddressLine1","AddressLine2","PostalCode","PhoneNumber"])
print(df.head())

     StateProvinceName CountryRegionName   BirthDate        Education  \
0      New South Wales         Australia  1987-11-13        Bachelors
1     British Columbia            Canada  1972-07-21  Partial College
2           California     United States  1985-11-09        Bachelors
3              England    United Kingdom  1977-10-18  Partial College
4  Nordrhein-Westfalen           Germany  1975-02-05  Partial College

       Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0        Clerical      M             M              1                3
1        Clerical      M             M              1                2
2        Clerical      F             S              0                3
3  Skilled Manual      M             M              1                2
4  Skilled Manual      M             S              1                1

   NumberChildrenAtHome  TotalChildren  YearlyIncome
0                     0              1         81916
1                     1              2         81076
2                     0              0         86387
3                     1              2         61481
4                     0              0         51804

In [ ]:
#Part 1
#part b

#create a new dataframe
# List of selected columns
selected_columns = [
  "StateProvinceName",
  "CountryRegionName",
  "BirthDate",
  "MaritalStatus",
  "YearlyIncome",
  "Gender",
  "TotalChildren",
  "NumberChildrenAtHome",
  "Education",
  "Occupation",
  "HomeOwnerFlag",
  "NumberCarsOwned"
]

# Create new DataFrame with only these columns
df_selected = df[selected_columns]

# Preview
print(df_selected.head())


#saved the cleaned dataset
df.to_csv("customers_cleaned.csv",index=False)
#index is false since to_csv adds by default row nnumbers onko htane ke liye

     StateProvinceName CountryRegionName   BirthDate MaritalStatus  \
0      New South Wales         Australia  1987-11-13             M
1     British Columbia            Canada  1972-07-21             M
2           California     United States  1985-11-09             S
3              England    United Kingdom  1977-10-18             M
4  Nordrhein-Westfalen           Germany  1975-02-05             S

   YearlyIncome Gender  TotalChildren  NumberChildrenAtHome        Education  \
0         81916      M              1                     0        Bachelors
1         81076      M              2                     1  Partial College
2         86387      F              0                     0        Bachelors
3         61481      M              2                     1  Partial College
4         51804      M              0                     0  Partial College

       Occupation  HomeOwnerFlag  NumberCarsOwned
0        Clerical              1                3
1        Clerical              1                2
2        Clerical              0                3
3  Skilled Manual              1                2
4  Skilled Manual              1                1

In [ ]:
#Part 1
#part c

#checking the type of each column
print(df.dtypes)

for col in df_selected.columns:
  print(f"{col} : {df_selected[col].unique()[:10]}")

StateProvinceName       object
CountryRegionName       object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
dtype: object
StateProvinceName : ['New South Wales' 'British Columbia' 'California' 'England'
 'Nordrhein-Westfalen' 'Washington' 'Nord' 'Moselle' 'Hessen'
 'Val de Marne']
CountryRegionName : ['Australia' 'Canada' 'United States' 'United Kingdom' 'Germany' 'France']
BirthDate : ['1987-11-13' '1972-07-21' '1985-11-09' '1977-10-18' '1975-02-05'
 '1975-02-23' '1971-12-03' '1997-03-07' '1976-12-14' '1976-12-04']
MaritalStatus : ['M' 'S']
YearlyIncome : [81916 81076 86387 61481 51804 61944 34919 61832 83834 26880]
Gender : ['M' 'F']
TotalChildren : [1 2 0 3]
NumberChildrenAtHome : [0 1 2 3]
Education : ['Bachelors' 'Partial College' 'High School' 'Partial High School'
 'Graduate Degree']
Occupation : ['Clerical' 'Skilled Manual' 'Manual' 'Management' 'Professional']
HomeOwnerFlag : [1 0]
NumberCarsOwned : [3 2 1 0 4 5]

In [ ]:
#hence lets determine the value type

#StateProvinceName: discrete,nominal     binning
#CountryRegionName: discerte,nominal     binning
#BirthDate: discrete,Interval            convert to age and normalizatiom
#Education: discrete,ordinal             binning
#Occupation: discrete,nominal            binning
#Gender: discrete,nominal                one-hot encoding
#MaritalStatus: discrete,nominal         one-hot encoding
#HomeOwnerFlag: discrete,nominal         one-hot encoding
#NumberCarsOwned: discrete,ratio         Normalization
#NumberChildrenAtHome: discrete,ratio    Normalization
#TotalChildren: discrete,ratio           Normalization
#YearlyIncome: continuous,ratio          Normalization

#ordinal used when category present and there is some order
#ratio used meaningful order is there with true zero
#interval used when no true zero
#nominal used when no order

In [ ]:
#Part 2
#lets do pre-processing for each column acc to its needs but deal with null values in each column

#first of all lets convert dob to age and remove dob from df and add age
df_selected['BirthDate'] = pd.to_datetime(df_selected['BirthDate'])
#the above code converts strings i.e "1990-05-24" to without string real time object
current_date = pd.to_datetime('today') #here we are getting todays date
df_selected['Age'] = (current_date - df_selected['BirthDate']).dt.days // 365
#in above line we got number of days after subtracting
# .dt.days diff into number of days
# // 365 does integer division to app age in years
df_selected = df_selected.drop(columns = ["BirthDate"])

print(df_selected.head())

     StateProvinceName CountryRegionName MaritalStatus  YearlyIncome Gender  \
0      New South Wales         Australia             M         81916      M
1     British Columbia            Canada             M         81076      M
2           California     United States             S         86387      F
3              England    United Kingdom             M         61481      M
4  Nordrhein-Westfalen           Germany             S         51804      M

   TotalChildren  NumberChildrenAtHome        Education      Occupation  \
0              1                     0        Bachelors        Clerical
1              2                     1  Partial College        Clerical
2              0                     0        Bachelors        Clerical
3              2                     1  Partial College  Skilled Manual
4              0                     0  Partial College  Skilled Manual

   HomeOwnerFlag  NumberCarsOwned  Age
0              1                3   37
1              1                2   53
2              0                3   39
3              1                2   47
4              1                1   50

In [ ]:
#Part 2
#part a

#now lets handle null values

#check for null count
print(df_selected.isnull().sum())
#hence we have no null values and lets start column wise pre-processing

StateProvinceName       0
CountryRegionName       0
MaritalStatus           0
YearlyIncome            0
Gender                  0
TotalChildren           0
NumberChildrenAtHome    0
Education               0
Occupation              0
HomeOwnerFlag           0
NumberCarsOwned         0
Age                     0
dtype: int64

In [ ]:
#Part 2
#part b analysis

#We have to normalize YearlyIncome,TotalChilden,NumberChildernAtHome,NumberCarsOwned,Age
#now what kind of normalization we should use ??
#Min-Max when values bounded in known range like 0-100
#Data that follows normal distribution, use z-score
#many outliers for example when income then use robust scaling or log transformation

#we have to also make sure that range/scale of each column is same

#so we can see except for YearlyIncome, we can apply min-max normalization
#for YearlyIncome we have to figure out the normalization after looking at its values
#if it has extreme values then we cant apply min-max to it and scale would vary then
#so lets figure out for income
#lets find out the mean,median and extreme values in income

mean_val = df_selected["YearlyIncome"].mean()
median_val = df_selected["YearlyIncome"].median()
max_val = df_selected["YearlyIncome"].max()
min_val = df_selected["YearlyIncome"].min()

print(mean_val,median_val,max_val,min_val)
#if mean is almost equal to median then min-max laga sakte hai since data is symmetric
#if mean >> median then data is right skewed and outliars exist

#now since mean is almost equal to median
#the diff between max and min is not extreme like 100x or 1000x
#we check outliers by finding interquartile range
Q1 = df_selected["YearlyIncome"].quantile(0.25)
Q3 = df_selected["YearlyIncome"].quantile(0.75)
IQR = Q3-Q1
Lower_Outlier = Q1 - 1.5*IQR
Upper_Outlier = Q3 + 1.5*IQR

print(Q1,Q3,IQR,Lower_Outlier,Upper_Outlier)
#hence no extreme outliers
#so we can apply min-max normalization to each column we selected for normlization


#lets check if we can apply the min-max normalization to age
mean_age = df_selected["Age"].mean()
median_age = df_selected["Age"].median()
max_age = df_selected["Age"].max()
min_age = df_selected["Age"].min()

print(mean_age,median_age,max_age,min_age)

#we also check the outliers
Q1_age = df_selected["Age"].quantile(0.25)
Q3_age = df_selected["Age"].quantile(0.75)
IQR_age = Q3_age-Q1_age
Lower_Outlier_age = Q1_age - 1.5*IQR_age
Upper_Outlier_age = Q3_age + 1.5*IQR_age

print(Q1_age,Q3_age,IQR_age,Lower_Outlier_age,Upper_Outlier_age)

#although we have outliers here and u can see outliers(77-95) to 0.75-1
#hence most data goes into 70 percent of normalized range but we dont have problem with that here so we will do min-max normalization

72754.77964163171 61851.0 139115 25435
53312.0 87410.0 34098.0 2165.0 138557.0
43.16006753444802 42.0 95 24
34.0 51.0 17.0 8.5 76.5

In [ ]:
#part 2
#part b

#applying min-max normalization to YearlyIncome,TotalChilden,NumberChildernAtHome,NumberCarsOnwed

from sklearn.preprocessing import MinMaxScaler

cols_to_normalize = ['YearlyIncome', 'TotalChildren', 'NumberChildrenAtHome', 'NumberCarsOwned','Age']

scaler = MinMaxScaler()
#MinMaxScalar is a class in sklearn.preprocessing
#here we are creating an object of that class and storing it in scalar
#this object now can be used to fit and transform your data

df_selected[cols_to_normalize] = scaler.fit_transform(df_selected[cols_to_normalize])
#fit_transform computes min and max for each column and scales values into[0,1]
#the original columns are replaced with normalized ones

print(df_selected.head())

     StateProvinceName CountryRegionName MaritalStatus  YearlyIncome Gender  \
0      New South Wales         Australia             M      0.496842      M
1     British Columbia            Canada             M      0.489453      M
2           California     United States             S      0.536172      F
3              England    United Kingdom             M      0.317083      M
4  Nordrhein-Westfalen           Germany             S      0.231958      M

   TotalChildren  NumberChildrenAtHome        Education      Occupation  \
0       0.333333              0.000000        Bachelors        Clerical
1       0.666667              0.333333  Partial College        Clerical
2       0.000000              0.000000        Bachelors        Clerical
3       0.666667              0.333333  Partial College  Skilled Manual
4       0.000000              0.000000  Partial College  Skilled Manual

   HomeOwnerFlag  NumberCarsOwned       Age
0              1              0.6  0.183099
1              1              0.4  0.408451
2              0              0.6  0.211268
3              1              0.4  0.323944
4              1              0.2  0.366197

In [ ]:
#Part 2
#part c

#now lets do binning for 4 columns
#StateProvinceName,CountryRegionName,Education,Occupation

#we can do frequency based binning or domain knowledge types i.e region based binning
#lets prefer region based binning

#lets map country on basis on countinents
unique_country = df_selected['CountryRegionName'].unique()
print(unique_country)
#hum phele dekh lete hia konsi konsi countries hai and then we just mention unique values in mapping

country_bin = {
    'United States': 'North America',
    'Germany': 'Europe',
    'Canada': 'North America',
    'Australia': 'Australia',
    'United Kingdom': 'Europe',
    'France': 'Europe'
}

df_selected['ContinentName'] = df_selected['CountryRegionName'].map(country_bin)

#lets map education now
unique_education = df_selected['Education'].unique()
print(unique_education)

education_bin = {
   'Bachelors': 'High',
   'Partial College': 'medium',
   'High School': 'low',
   'Partial High School': 'low',
   'Graduate Degree': 'high'
}

df_selected['Education'] = df_selected['Education'].map(education_bin)

#lets map occupation now
unique_occupation = df_selected['Occupation'].unique()
print(unique_occupation)

occupation_bin = {
    'Clerical': 'Support Jobs',
    'Skilled Manual': 'Blue Collar',
    'Manual': 'Blue Collar',
    'Management': 'White Collar',
    'Professional': 'White Collar'
}

df_selected['Occupation'] = df['Occupation'].map(occupation_bin)

#now lets map state
unique_state = df_selected['StateProvinceName'].unique()
print(unique_state)

state_bin ={
    # USA
    'California': 'USA', 'Washington': 'USA', 'Oregon': 'USA', 'Illinois': 'USA',
    'North Carolina': 'USA', 'South Carolina': 'USA', 'Alabama': 'USA',
    'Virginia': 'USA', 'Georgia': 'USA', 'Missouri': 'USA', 'Wyoming': 'USA',
    'Ohio': 'USA', 'Arizona': 'USA', 'Texas': 'USA', 'Kentucky': 'USA',
    'Florida': 'USA', 'Mississippi': 'USA', 'Utah': 'USA',
    'Massachusetts': 'USA', 'New York': 'USA', 'Minnesota': 'USA',
    'Montana': 'USA', 'Maryland': 'USA',

    # Canada
    'British Columbia': 'Canada', 'Alberta': 'Canada', 'Ontario': 'Canada',

    # Australia
    'New South Wales': 'Australia', 'Queensland': 'Australia',
    'South Australia': 'Australia', 'Tasmania': 'Australia', 'Victoria': 'Australia',

    # UK
    'England': 'UK',

    # Germany
    'Nordrhein-Westfalen': 'Germany', 'Hessen': 'Germany', 'Bayern': 'Germany',
    'Hamburg': 'Germany', 'Saarland': 'Germany', 'Brandenburg': 'Germany',

    # France
    'Nord': 'France', 'Moselle': 'France', 'Val de Marne': 'France',
    'Seine Saint Denis': 'France', 'Essonne': 'France', 'Hauts de Seine': 'France',
    'Somme': 'France', 'Seine (Paris)': 'France', 'Garonne (Haute)': 'France',
    'Yveline': 'France', "Val d'Oise": 'France', 'Charente-Maritime': 'France',
    'Loiret': 'France', 'Loir et Cher': 'France', 'Seine et Marne': 'France',
    'Pas de Calais': 'France'
}

df['Country'] = df['StateProvinceName'].map(state_bin)

print(df_selected.head())

['Australia' 'Canada' 'United States' 'United Kingdom' 'Germany' 'France']
['Bachelors' 'Partial College' 'High School' 'Partial High School'
 'Graduate Degree']
['Clerical' 'Skilled Manual' 'Manual' 'Management' 'Professional']
['New South Wales' 'British Columbia' 'California' 'England'
 'Nordrhein-Westfalen' 'Washington' 'Nord' 'Moselle' 'Hessen'
 'Val de Marne' 'Queensland' 'Seine Saint Denis' 'South Australia'
 'Essonne' 'Hauts de Seine' 'Somme' 'Seine (Paris)' 'Hamburg' 'Oregon'
 'Tasmania' 'Victoria' 'Garonne (Haute)' 'Saarland' 'Yveline' 'Bayern'
 "Val d'Oise" 'Charente-Maritime' 'Loiret' 'Illinois' 'Alberta'
 'Brandenburg' 'North Carolina' 'Loir et Cher' 'Seine et Marne'
 'Pas de Calais' 'Minnesota' 'South Carolina' 'Alabama' 'Virginia'
 'Georgia' 'Missouri' 'Wyoming' 'Ohio' 'Arizona' 'Texas' 'Kentucky'
 'Ontario' 'Florida' 'Mississippi' 'Utah' 'Massachusetts' 'New York'
 'Montana' 'Maryland']
     StateProvinceName CountryRegionName MaritalStatus  YearlyIncome Gender  \
0      New South Wales         Australia             M      0.496842      M
1     British Columbia            Canada             M      0.489453      M
2           California     United States             S      0.536172      F
3              England    United Kingdom             M      0.317083      M
4  Nordrhein-Westfalen           Germany             S      0.231958      M

   TotalChildren  NumberChildrenAtHome Education    Occupation  HomeOwnerFlag  \
0       0.333333              0.000000      High  Support Jobs              1
1       0.666667              0.333333    medium  Support Jobs              1
2       0.000000              0.000000      High  Support Jobs              0
3       0.666667              0.333333    medium   Blue Collar              1
4       0.000000              0.000000    medium   Blue Collar              1

   NumberCarsOwned       Age  ContinentName
0              0.6  0.183099      Australia
1              0.4  0.408451  North America
2              0.6  0.211268  North America
3              0.4  0.323944         Europe
4              0.2  0.366197         Europe

In [ ]:
#Part 2
#part e

#since homeowner flag already is in one-hot encoding so no need to apply to  it
#we have to apply one-hot encoding to maritial status and gender

df_selected = pd.get_dummies(df_selected,columns=['MaritalStatus','Gender'],drop_first=True,dtype=int)
print(df_selected.head())

#from the above code i can see that i will get 2 features per column but since 1st feature can be infered from 2nd feature so we will avoid this dummy trap
#to avoid dummy trap we add a parameter in above code drop_first = true

#Also one recommendation, if we are doing linear/logistic regression we should use drop_first
#in case of decision tress, we should not drop that feature

#now since our output shows true/false and we want 0/1 so we add dtype=int as a paramter in above code

     StateProvinceName CountryRegionName  YearlyIncome  TotalChildren  \
0      New South Wales         Australia      0.496842       0.333333
1     British Columbia            Canada      0.489453       0.666667
2           California     United States      0.536172       0.000000
3              England    United Kingdom      0.317083       0.666667
4  Nordrhein-Westfalen           Germany      0.231958       0.000000

   NumberChildrenAtHome Education    Occupation  HomeOwnerFlag  \
0              0.000000      High  Support Jobs              1
1              0.333333    medium  Support Jobs              1
2              0.000000      High  Support Jobs              0
3              0.333333    medium   Blue Collar              1
4              0.000000    medium   Blue Collar              1

   NumberCarsOwned       Age  ContinentName  MaritalStatus_S  Gender_M
0              0.6  0.183099      Australia                0         1
1              0.4  0.408451  North America                0         1
2              0.6  0.211268  North America                1         0
3              0.4  0.323944         Europe                0         1
4              0.2  0.366197         Europe                1         1

In [ ]:
#Part 3
#we have made sure that each attribute transformed is in same scale

#Part a
#now we have to apply similarity measure
#Simple Matching Coefficient for categorial or binary attributes
#Jaccard Similarity for binary attributes
#Cosine Similarity for numeric attributes

#we have been asked to pick 2 objects that means any 2 rows and apply these analysis to them
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

print(df_selected.head(6))

#segregate columns into numerical and binary/categorical
categorial_cols = ['StateProvinceName','CountryRegionName','MaritalStatus_S','Gender_M','Education','Occupation','ContinentName','HomeOwnerFlag']
numeric_cols = ['YearlyIncome','TotalChildren','NumberChildrenAtHome','NumberCarsOwned','Age']
binary_cols = ['MaritalStatus_S','Gender_M','HomeOwnerFlag']

#lets take 2 rows from dataset [0] and [5]
#loc is used to access rows and columns by labels
# .values is used to convert dataframe/series into numpy array
obj1 = df_selected.loc[0,categorial_cols].values
obj2 = df_selected.loc[5,categorial_cols].values

#finding SMC for the state,country,occupation,education
#SMC = number of matching attributes/total attributes
smc = np.mean(obj1 == obj2)
print(smc)

#finding jaccard similarity
#it only works in 0/1
obj3 = df_selected.loc[0,binary_cols].values
obj4 = df_selected.loc[5,binary_cols].values
intersection = np.sum(np.minimum(obj3,obj4)) #number of positions in which both have 1
#np. minimum gives element wise minimum
#min(1,1) = 1
#min(1,0) = 0
#min(0,1) = 0
#min(0,0) = 0
#summing over min gives intersection
union = np.sum(np.maximum(obj3,obj4)) #number of positions where at least one has 1
#max(1,1) = 1
#max(1,0) = 1
jaccard= intersection/union
print(jaccard)


obj5 = df_selected.loc[0,numeric_cols].values
obj6 = df_selected.loc[5,numeric_cols].values

cos_sim = cosine_similarity([obj5], [obj6])[0][0]
#now since we are comparing 1 row with 1 row it returns 2d array
#[0][0]  makes sure we get 1st element in 1st row of that 2d array
print(cos_sim)

     StateProvinceName CountryRegionName  YearlyIncome  TotalChildren  \
0      New South Wales         Australia      0.496842       0.333333
1     British Columbia            Canada      0.489453       0.666667
2           California     United States      0.536172       0.000000
3              England    United Kingdom      0.317083       0.666667
4  Nordrhein-Westfalen           Germany      0.231958       0.000000
5           Washington     United States      0.321156       0.666667

   NumberChildrenAtHome Education    Occupation  HomeOwnerFlag  \
0              0.000000      High  Support Jobs              1
1              0.333333    medium  Support Jobs              1
2              0.000000      High  Support Jobs              0
3              0.333333    medium   Blue Collar              1
4              0.000000    medium   Blue Collar              1
5              0.666667       low   Blue Collar              1

   NumberCarsOwned       Age  ContinentName  MaritalStatus_S  Gender_M
0              0.6  0.183099      Australia                0         1
1              0.4  0.408451  North America                0         1
2              0.6  0.211268  North America                1         0
3              0.4  0.323944         Europe                0         1
4              0.2  0.366197         Europe                1         1
5              0.4  0.366197  North America                0         0
0.25
0.5
0.7006681080048408

In [ ]:
#Part 3
#part b

#in the dataset given to us we only have yearlyincome and not Commute Distance
#so lets generate distance for all rows and then find correlation between 2 features

#lets generate distance based on occupation
compute_range = {
    "Clerical" : (1,10), #means iss occupation ka distance mostly 1-10 km hoga
    "Skilled Manual" : (5,20),
    "Professional" : (10,40),
    "Management" : (5,25)
}

np.random.seed(45) #everytime same random numbers are used

#lets commute distance within assigned range
def generate_commute(occupation):
  if occupation in compute_range:
    low,high = commute_range[occupation]
    return np.random.uniform(low,high+1) #+1 so that high wala number is included
  else:
    return np.random.uniform(1,10) #randint generates random integers between given numbers range
#now but i want float values as well so i use uniform
df_selected["CommuteDistance"] = df_selected["Occupation"].apply(generate_commute)
print(df_selected.head())

#now since we have generated commute distance and we have yearly income
#lets find the correlation between both

correlation = df_selected["YearlyIncome"].corr(df_selected["CommuteDistance"])
print(correlation)
#+1 means strong positive correlation
#0 means no linear relationship
#-1 means negative correlation

     StateProvinceName CountryRegionName  YearlyIncome  TotalChildren  \
0      New South Wales         Australia      0.496842       0.333333
1     British Columbia            Canada      0.489453       0.666667
2           California     United States      0.536172       0.000000
3              England    United Kingdom      0.317083       0.666667
4  Nordrhein-Westfalen           Germany      0.231958       0.000000

   NumberChildrenAtHome Education    Occupation  HomeOwnerFlag  \
0              0.000000      High  Support Jobs              1
1              0.333333    medium  Support Jobs              1
2              0.000000      High  Support Jobs              0
3              0.333333    medium   Blue Collar              1
4              0.000000    medium   Blue Collar              1

   NumberCarsOwned       Age  ContinentName  MaritalStatus_S  Gender_M  \
0              0.6  0.183099      Australia                0         1
1              0.4  0.408451  North America                0         1
2              0.6  0.211268  North America                1         0
3              0.4  0.323944         Europe                0         1
4              0.2  0.366197         Europe                1         1

   CommuteDistance
0         9.901104
1         5.945903
2         3.533026
3         1.695606
4         5.000225
-0.0036539963684580593